@model PassTheStory.Web.Models.StoryDisplayModel

@{
    ViewBag.Title = "Finished Stories";
}

<h2>Finished Stories</h2>

<table class="table">
    <tr>
        <th>Story Name</th>
        <th>Parts</th>
    </tr>

@foreach (var item in Model.Stories.OrderByDescending(x => x.Parts[x.Parts.Count - 1].CreatedDateTime)) {
    <tr>
        <td>
            @Html.ActionLink(item.StoryName, "ViewStory", "Story", new { id = item.StoryId }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parts.Count)
        </td>
    </tr>
}

</table>
