@model PassTheStory.Web.Models.StoryDisplayModel

@{
    ViewBag.Title = "All Stories";
}


<h2>All Stories</h2>
<table class="table">
    <tr>
        <th>Story Name</th>
        <th>Parts</th>
        <th>Next Author</th>
        <th>Finished</th>
    </tr>
    @foreach (var item in Model.Stories.OrderByDescending(s => s.Parts.Count))
    {
        <tr>
            <td>
                @Html.ActionLink(item.StoryName, "ViewStory", "Story", new { id = item.StoryId }, null)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.Parts.Count)
            <td>
                @if (item.IsFinished == true)
                {

                    <span>N/A</span>

                }
                @if (item.IsFinished == false)
                {
                    @Html.DisplayFor(modelItem => item.NextAuthor)
                }
            </td>
            <td>
                @if (item.IsFinished == true)
                {
                    <img src="~/Content/images/check-mark-2025986.svg" height="12" alt="checkmark"/>
                }
            </td>
        </tr>
    }

</table>
