@model PassTheStory.Web.Models.StoryDisplayModel

@{
    ViewBag.Title = "New Prompts";
}

<h2>New Prompts</h2>

<table class="table">
    <tr>
        <th>Story Name</th>
        <th>Prompt</th>
    </tr>

@foreach (var item in Model.Stories) {
    <tr>
        <td>
            @if (Request.IsAuthenticated == true)
            {
                @Html.ActionLink(item.StoryName, "ViewStory", "Story", new { id = item.StoryId }, null)
            }
            @if (Request.IsAuthenticated == false)
            {
                @Html.DisplayFor(modelItem => item.StoryName)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parts[0].PartText)
        </td>
    </tr>
}

</table>
