@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="full-height col-6 align-content-center">
        <center><h2 style="margin-top: 8%;">Welcome to Pass The Story!</h2></center>
        <br />
        <p>Pass The Story is an uniquely collaborative writing project. Here's how it works:
        <ul>
            <li>Users are able to submit their own writing prompts, or choose to be the first to add to a prompt submitted by another user.</li>
            <li>Each story part is limited to a maximum of 1000 characters, and then the system randomly selects the next user to add a part to the story.</li>
            <li>Users are permitted to pass on a story if are feeling uninspired, but they may be selected again later in the story!</li>
            <li>If you feel your contribution has brought the story to a nice conclusion, you can choose to make it the end.</li>
            <li>Finished stories are made available to read by the public, with each user credited for their contributions.</li>
        </ul>
        Feel free to take a look at some of the available prompts, or read through the finished stories. When you're ready, sign up and join us!
        <p>
    </div>
    <div class=" col-6">
        <img class="img-fluid" src="~/Content/images/milkovi-444287-unsplash.jpg" alt="typing at black typewriter" />
    </div>
</div>